<html>
  <head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style2.css">
    <meta charset="utf-8">
    <title>Landing Zero Free Bootstrap Theme with Video</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    
    
    
    <style>
    </style>
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!--<div class="navbar-header">-->
            <!--    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">-->
            <!--        <span class="sr-only">Toggle navigation</span>-->
            <!--        <span class="icon-bar"></span>-->
            <!--        <span class="icon-bar"></span>-->
            <!--        <span class="icon-bar"></span>-->
            <!--    </button>-->
            <!--    <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i>INDABAE</a>-->
            <!--</div>-->
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/">INDABAE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">video</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/talk_list">Bulletin board</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <!--<div class="talk_container">-->
        <h2 class="talk_title"> <img class="title_icon" src="http://image.flaticon.com/icons/svg/176/176663.svg"></img>인다배 게시판<span class="small_title">INDABAE Talk</span></h2>
         
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-5 text-center">
                     <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                    <h2 class="margin-top-0 text-primary">팬플룻이란?</h2>
                    <!--<br>-->
                    <p class="text-faded">
                        <div class="row"  align="center">
                            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2  col-sm-5 text-center">
                                <img src="http://ytimg.googleusercontent.com/vi/-gYvZE2jXZ0/0.jpg" class="img-responsive" alt="Image 1">
                            </div>
                        </div>
                       
                    <br>
  “팬파이프, 또는 판의 피리, 또는 팬플루트(영어: panpipe, panflute)는 그리스어로<br>
  시링가(그리스어: Σύριγγα)라고 하는 관악기로, 고대 그리스에서 기원하여 유럽 각국으로 전파되었다.<br>
  음높이가 다른 여러 대의 세로피리(縱笛)인 플루트를 보통 평평하게 늘어놓은 것으로<br>
  파이프 오르간의 가장 오랜 조상으로 되어 있다. <br>
  입으로 부는반대쪽의 관들의 끝지점들은 밑을 2로 하는 로그함수의 그래프를 이룬다.”
                    </p>
                    <!--<a href="home/three1" class="btn btn-default btn-xl page-scroll">Learn More</a>-->
                </div>
        <!--</div>-->
    
    
    <div class="row text-center">
            
    </div>
  </body>
  <style>
      body { background: url('http://m.neamb.com/assets/images/articles/how-to-create-strong-social-bonds-at-school_260x141.jpg'); background-repeat:no-repeat; background-size:100%;}
      .talk_title { background-color: white; color: #78e21b; font-weight: 500; margin-right: 0%; 
margin-left:0%; margin-bottom: 0%; margin-top:10px; font-size: 1.7em; width: 30%; height: 40px; border: 1px solid #e0e0e0; 
border-radius: 10px; padding: 5px; overflow: hidden; display:inline-block;}
table {margin-top: 5%;}
      .talk_container { background:rgba(0,0,0,0.3); width:80%; height:50%; padding:20px; border-radius: 10px; color: white; margin: 10% auto;}
      .talk_container a { color: white; }
      .talk_container th { color: #78e21b; font-size: 1.2em; }
      .talk_container td { width: 25%; }
      </style>
</html>
